.mzl_btn {
  position: relative;
  display: inline-flex;
  gap: 0 5px;
  justify-content: center;
  height: 32px;
  padding: 4px 15px;
  color: $text-color;
  font-weight: 400;
  font-size: $button-base-font-size;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  background: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  box-shadow: 0 2px $btn-shadow-base;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
  }
}

.mzl_btn_default {
  color: $text-color;
  background-color: #fff;
  border-color: $btn-border-color;

  &:hover {
    color: $primary-color;
  }
}

.mzl_btn_primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    color: #fff;
  }
}

.mzl_btn_success {
  color: #fff;
  background-color: $success-color;
  border-color: $success-color;

  &:hover {
    color: #fff;
    border-color: $success-color;
  }
}

.mzl_btn_warning {
  color: #fff;
  background-color: $warning-color;
  border-color: $warning-color;

  &:hover {
    color: #fff;
    border-color: $warning-color;
  }
}

.mzl_btn_error {
  color: #fff;
  background-color: $error-color;
  border-color: $error-color;

  &:hover {
    color: #fff;
    border-color: $error-color;
  }
}

.mzl_btn_info {
  color: #fff;
  background-color: $info-color;
  border-color: $info-color;

  &:hover {
    color: #fff;
    border-color: $info-color;
  }
}

.mzl_btn_link {
  color: $primary-color;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;

  &:hover {
    color: $primary-color;
    border-color: rgba(0, 0, 0, 0);
  }
}

.mzl_btn_text {
  color: $text-color;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;

  &:hover {
    color: $text-color;
    border-color: rgba(0, 0, 0, 0);
  }
}

.mzl_btn_large {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}

.mzl_btn_small {
  height: 24px;
  padding: 1px 7px;
  font-size: 12px;
  border-radius: 2px;
}

.mzl_btn_round {
  border-radius: 32px;
}

.mzl_btn_loading {
  cursor: default;
  opacity: 0.75;

  &:hover,
  &:active {
    opacity: 0.75;
  }
}

.mzl_btn_disabled {
  color: $disabled-text-color;
  text-shadow: none;
  background: $disabled-background-color;
  border-color: $btn-border-color;
  box-shadow: none;
  cursor: no-drop;
  opacity: 1;

  &:hover,
  &:active {
    color: $disabled-text-color;
    background: $disabled-background-color;
    border-color: $btn-border-color;
    opacity: 1;
  }
}

.mzl_btn_disabled_link,
.mzl_btn_disabled_text {
  color: $disabled-text-color;
  text-shadow: none;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  cursor: no-drop;
  opacity: 1;

  &:hover,
  &:active {
    color: $disabled-text-color;
    background: none;
    border-color: rgba(0, 0, 0, 0);
    opacity: 1;
  }
}
