.btn {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 4px 15px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  background: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-color: #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}

.btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn-danger {
  color: #fff;
  background: #ff4d4f;
  border-color: #ff4d4f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
