.btn {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 4px 15px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  background: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-color: #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}

.btn-lg {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}

.btn-sm {
  height: 24px;
  padding: 0px 7px;
  font-size: 14px;
  border-radius: 2px;
}

.btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn-danger {
  color: #fff;
  background: #ff4d4f;
  border-color: #ff4d4f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn-dashed {
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-color: #d9d9d9;
  border-style: dashed;

  &:hover {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
  }

  &:active {
    color: #096dd9;
    background: #fff;
    border-color: #096dd9;
  }
}
.btn-dashed[disabled],
.btn-dashed[disabled]:hover,
.btn-dashed[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  box-shadow: none;
}

.btn-text {
  color: rgba(0, 0, 0, 0.85);
  background: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.058);
    border-color: transparent;
  }

  &:active {
    color: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.088);
    border-color: transparent;
  }
}
.btn-text[disabled],
.btn-text[disabled]:hover,
.btn-text[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-link {
  color: #1890ff;
  background: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: #40a9ff;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &:active {
    color: #096dd9;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }
}
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-round {
  height: 32px;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 32px;
}

.btn-round.btn-lg {
  height: 40px;
  padding: 6.4px 20px;
  font-size: 16px;
  border-radius: 40px;
}
.btn-round.btn-sm {
  height: 24px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 24px;
}
